.dynamic{
position:relative;
top:200px;
clear:left;
left:20px;
height:1500px;
width:1200px;
background-color:#FCFCFC

}
#text1{
text-align:center;
font-size:40px;
color:#444444;
}
.subcont1{

margin-top:-60px;
height:500px;
width:1200px;
background-color:#FCFCFC;
}
.text1{
margin-top:20px;
height:450px;
width:640px;
background-color:#FCFCFC;
}
.formateText{

}
.textH1{

text-align:center;
font-size:50px;
color:#444444;
}
.span1{
text-align:center;
font-size:70px;
color:#AAAAAA;
}
.img1{
height:450px;
width:500px;
margin-left:650px;
margin-top:-450px;
clear:right;
background-color:#FCFCFC;
}
.subcont2{
position:absolute;
top:495px;
height:500px;
width:1200px;
background-color:#FCFCFC;
}
.img2{

margin-top:20px;
height:450px;
width:500px;

background-color:#FCFCFC;
}
.text2{

margin-top:-480px;
height:450px;
width:640px;
background-color:#FCFCFC;
margin-left:510px;
}

.subcont3{
position:absolute;
top:995px;
height:500px;
width:1200px;
background-color:#FCFCFC;
}
.text3{

height:450px;
width:640px;
background-color:#FCFCFC;
}
.img3{

margin-top:-450px;
height:450px;
width:500px;
margin-left:650px;
clear:right;
background-color:#FCFCFC;
}
